@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playwrite+AU+SA:wght@100..400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;

}

ul {
    list-style-type: none;
}

:root {
    --mainFont: "Roboto", Arial, sans-serif;
    --secondFont: " Lato", sans-serif;

}

body {
    background-color: rgb(229, 235, 238);

}

.navbar-brand .brand-text {
    letter-spacing: 5px;
    font-weight: bold;
    color: rgb(40, 61, 105);
    font-size: smaller;
    font-family: var(--secondFont);
}

.navbar-brand .cap-icon {
    transform: rotate(-25deg);
    font-size: 24px;
    color: rgb(40, 61, 105);
    position: relative;
    top: -2px;
    right: -5px;

}

header .navbar {
    position: absolute;
    top: 5%;
    left: 0;
    width: 100%;
    z-index: 2;
    background-color: rgb(202, 210, 216);
    display: flex;
    justify-content: space-around;

}


header .buttons .btn {
    width: 100%;
    color: rgb(28, 71, 151);
    border: 1px solid rgb(28, 71, 151);
    background-color: transparent;

}

header .buttons {
    display: flex;
    gap: 10px;
    width: 30%;
    justify-content: flex-end;
    font-family: var(--secondFont);
    cursor: pointer;

}

header .buttons .btn:hover {
    background-color: rgb(40, 61, 105);
    color: white;
    border: 1px solid transparent;
}

header .links a {
    color: rgb(28, 71, 151) !important;
    font-family: var(--secondFont);
    font-weight: 500;
    transition: transform 0.3s ease, color 0.3s ease;

}

.navbar-nav a:hover {
    transform: scale(1.5);
    color: rgb(28, 71, 151);
}

.navbar-nav a.active:hover {
    transform: none;
    color: rgb(28, 71, 151);
}

/* ------------------------------------------------- */
.swiper {
    width: 100%;
    padding-top: 12%;
    height: 100svh;
}

.swiper-slide {
    position: relative;
    color: #fff;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    width: 700px;
    height: 400px;
    z-index: 1;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-slide::after {
    content: '';
    height: 100%;
    width: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
}

/* Shared styles */
.header-text,
.footer {
    position: absolute;
    z-index: 2;
    color: white;


    width: 80%;
    left: 50%;
    transform: translateX(-50%);
}

.header-text {
    top: 20px;
    font-size: 24px;
    white-space: nowrap;
    overflow: hidden;
    font-weight: bold;
    width: 0;
}

.swiper-slide.swiper-slide-active .header-text {
    animation: typing 2.5s steps(40, end) forwards;
}

.footer {
    bottom: 30px;
    font-size: 18px;
    white-space: normal;
    line-height: 1.5;
    opacity: 0;
}

.swiper-slide.swiper-slide-active .footer {
    animation: fadeIn 2s ease-in forwards;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 80%;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}